/* CSS for FUNGlowblXBlock */


.fun_glowbl_block ul li {
    display: inline-block;
    vertical-align: middle;
}

.fun_glowbl_block .f1tier {
    width: 33%;
}
.fun_glowbl_block .f2tier {
    width: 66%;
}



.fun_glowbl_block .logo {
}

.fun_glowbl_block .information {
}

.fun_glowbl_block .information .title {
    font-size: 24px;
}

.fun_glowbl_block .information  .description {
    color: red;
    margin-top: 20px;
}

.fun_glowbl_block .information  .rendezvous {
    color: blue;
    margin-top: 20px;
}

.fun_glowbl_block .button-new-tab {
}

.f2tier p {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 5px;
    font-size: 15px;
}
